@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Circe;
  src: url("../assets/fonts/Circe/CRC35.otf");
  font-weight: 400;
}
@font-face {
  font-family: Circe;
  src: url("../assets/fonts/Circe/Circe-Bold.otf");
  font-weight: 700;
}
